// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// TITULOS
$font-family-arial-regular: Arial, Helvetica, sans-serif;
$font-family-arial-bold: "Arial Black", Gadget, sans-serif;
// Tamaños
$font-size-1: 20px;
$font-size-2: 15px;
$font-size-3: 11px;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
$textos: #231f20;
$pleca_principal: #929799;
$fondo_formularios: #40474f;
$plecas_secundarias: #061d32;
$fondo_formularios_blanco: #f5f5f5;
$seleccion_formularios: #283139;
$botones_accion: #da291c;
$complementario_rojo: #b3282d;
$complementario_amarillo: #ff8200;
$complementario_azul: #0097a9;