.titulo-lista > h3{
	background-color:  #2A313A;
	color: #E6E6E6;
}
.contenido-lista{
	overflow:auto;
	min-width:100px;
	min-height: 200px;
	width:auto;
	max-height:700px;
    height: 85vh;
}
.contenido-lista::-webkit-scrollbar{
	width: 0px;
}
.modal-header2{
	font-size: 30px;
	background-color:#f5f5f5;
	height: 35px;
}
.modal-header2 button{
	font-size: 40px;
	padding-right: 10px;
}
.modal-header2 button:hover{
	color:red;
}
.icon-bar {
	width: 100%;
	background-color: #555;
}
.icon-bar a {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 12px;
}
.glbl2{
    color: #40474f;
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border: none;
}
.glbl2:hover{
	background:#283139;
	color: white;
	border:2px solid #283139;
}
.camaras{
      margin-top: 6%;
    margin-left: 25%;
    /* display: none; */
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 20px;
}
.camaraletra{
      /*border: 1px solid white;*/
    color: #ff8200;
        width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4%;
    background: #283139;
    text-align: center;
}

.boton1{
      width: 150px;
    height: 23px;
    border-radius: 16px;
    font-weight: bold;
    color: #40474f;
    background: #fff;
    border: none;
    margin-top: 2%;
}
.boton2{
      width: 150px;
    height: 23px;
    border-radius: 16px;
    font-weight: bold;
    color: #fff;
    background: #da291c;
    border: none;
   /* margin-top: 2%;*/
}
.boton3{
      width: 150px;
    height: 23px;
    border-radius: 16px;
    font-weight: bold;
    color: #fff;
    background: #46B539;
    border: none;
    margin-top: 2%;
}
 .panel-content{
      color: #fff !important;
      background-color:#a5a7a8 !important;
     /* border-radius: 20px 20px 0px 0px;*/
    }
     .panel-body {
      background-color: #3f444b;
      padding: 1% 1% 0%;
    }

 #etiqueta { color:#ff8200;
 padding-top: 2%; }


.icon-bar a:hover {
	background-color: #000;
}
.active {
    background-color: #283139;
}
.menus{

}
a.btngral{
	background-color: #e2231a;
	color: white;
}
a.btngral:hover{
	background-color: #c33e38;
	color: white;
}
a.btn{
	background-color: #e2231a;
	color: white;
}
a.btn:hover{
/*background-color: #c33e38  !important;*/
background-color: #c0c0c0 !important;
	color: #283139 !important;
}
.lscamaras{
	margin-top:2%;
	overflow-y:auto;
	height: 76%;
}
.lscamaras a:hover{
	color: white;
}
.ocultar{
	display: none;
}
.btn-360-activo{
	color:#f5f5f5;
	background-color: #ff8200;
	border-radius: 15px;
}
.btn-360-inactivo{
	background-color: #f5f5f5;
	color;#231f20;
	border-radius: 15px;
}
.msgtiendagrafica{
	color: #0097a9;
	font-family: 'arial',Arial,sans-serif,Helvetica;
	font-size: 180%;
}
.msgfechagrafica{
	color: #0097a9;
	font-family: 'arial',Arial,sans-serif,Helvetica;
	font-size: 180%;
}
.btnfecha{
	background: #d0d0d0;
	background-image: url(../images/open-iconic-master/png/calendario.png);
	background-repeat: no-repeat;
	background-position: center;
	height:6%;
	padding-left: 28px;
	cursor: pointer;
	color:#f5f5f5;
	font-family: 'arial',Arial,sans-serif,Helvetica;
	font-size: 0%;
	font-weight:bold;
	border-radius: 10px;
}
div.titulo{
	background-color:#313131;
	border: 1px solid  #313131;
	color:white;
}
div.titulo:hover{
	background-color:#313131;
	border: 1px solid  #313131;
	color:white;
}
.list-group-item{
	/*background-color: #f5f5f5;
	color: #242935;
	/*padding: .55rem 1.15rem;*/
	background-color: #283139;
	color: #fff;

}
.list-group-item.active{
	background-color:  #ff8200;
}
.list-group-item:hover{
	background-color: #f5f5f5;
}
.list-group-itemgen{
	background-color: #0e3747;
	color: #f5f5f5;
	padding: .55rem 1.15rem;
	border-top-left-radius:  10px;
	border-top-right-radius: 10px;
}
.list-group-itemfecha{
	background-color: #0e3747;
	color: #f5f5f5;
	padding: .55rem 1.15rem;
	border-top-left-radius:  10px;
	border-top-right-radius: 10px;
}
.list-group-itemgen:hover{
	color: #f5f5f5;
}
.list-group-itemgen:hover{
	background-color: #0e4760;
}
.list-group-itemtiendas{
	background-color: #f5f5f5;
 	color: #242935;
	padding: .55rem 1.15rem;
	border-top-left-radius:  15px;
	border-top-right-radius: 15px;
}
.list-group-itemtiendas:hover{
	background-color: #f5f5f5;
}
a.cmstiendas{
  	color: #242935;
	background-color: #f5f5f5;
}
a.cmstiendas:hover{
	background-color: #c0c0c0  !important;
	color: #f5f5f5;
}
a.cmshome{
  	color: #242935;
	background-color: #f5f5f5 !important;
}
a.cmshome:hover{
	background-color: #ff8200  !important;
	color: white;
}
a.cms2{
  	color: #242935;
	background-color: #f5f5f5 !important;

}
a.cms2:hover{
	background-color: #ff8200  !important;
	color: white;
}
a.cms{
  	color: #f5f5f5;
	background-color: #a5a7a8 !important;
	border-radius:  15px;
}
a.cms:hover{
	background-color: #0e3747 !important;
	color: #f5f5f5;
}
a.cms:before {

}
a.cms> span{
	font-size: 1.5em;
}
b.hora{
	color:#f5f5f5;
	font-size: 20px;
	text-align: right;
}
span.hora{
	color:#f5f5f5;
 	font-size: 20px;
  	text-align: right;
}
.row2 {
    display: flex;
    flex-wrap: wrap;
}
.column1 {
	width: auto;
	flex: 25%;
    padding: 20px;
}
.column2 {
	width: auto;
	flex: 25%;
}
/* */
.editar-zona{
    border-radius: 6px 6px 6px 6px;
  	bottom: 100px;
    margin: 10px;
    position: fixed;
    text-align: center;
    z-index: 15;
}
.editar-zona img{
	width: 32px;
	height: 32px;
	border-radius: 50px 50px 50px;
}
.editar-zona .card{
	background-color: transparent;
	border: none;
}
.editar-zona .card .card-header{
	padding: 0;
}
.editar-zona .card .card-header button{
	background-color: #313131;
}
.editar-zona .card .card-body{
	padding: 0;
}
.editar-zona .card .card-body .btn-
/*  */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: #f5f5f5;
	background-color:#ff8200;
	border-radius: 15px;
}
.nav-tabs .nav-link{
	background-color: #f5f5f5;
	color: #231f20;
	border: none;
	border-radius: 10px;
}
.nav-tabs .nav-link:hover{
	background-color:#ff8200;
	color: #f5f5f5;
}

#nav-tabContent .active{
	background-color: transparent;
}
#nav-tabContent .btn-primary{
	background-color: #e2231a;
	border-color:  #c33e38;
	border-radius: 10px;
}
/* Estilos para el mapa */
#map_div {
	height: 89vh;
}
/**/
#visor-grafica,
#visor-video,
#mapa-calor,
#alertasFaciales{
	margin-top: 1.1em;
}
#visor-video .loading,
#mapa-calor .loading{
	padding: 12.9em;
}
#alertasFaciales #id_fotoPersona{
    height: 150px;
    width: 115px;
}
#alertasFaciales #id_imgAlerta{
	height: 480px;
	width: 720px;
}
.card {
	border: none;
	background-color:transparent;
}
.card a:hover{
	text-decoration: none;
}
.card-header {
	background-color: #f5f5f5;
		color: #231f20;
}
.card-body {
	background-color: #525657;
	color: white;
	padding: 0.7rem;
}
.card-headermenus {
	background-color: #a5a7a8;
	color: black;
	width: 100%;
	/*height:40px;*/
	background: white;


}
.card-bodymenus {

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.card-headerAlertas {
	background-color: #c0c0c0;
	color: white;
		padding: .5em;
		padding-bottom: 15px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
}
.calendar{
	align-content: center;
	text-align: center;
	max-width: 300px;
}
/**
 * playlist area
 */
#playlist-area .playlist-titulo{
	border-top-left-radius:  10px;
	border-top-right-radius: 10px;
    background-color: #0e3747;
    color: #f5f5f5;
}
#playlist-records{
	overflow-x: overlay;
    height: 70%;
}
#playlist-records .list-group .active{
	background-color: #ff8200;
}
/**
 * Personalizamos el MediaElementPlayer.css
 */
.mejs__container{
	width: 100%;
	height: 100%;
}
.mejs__cannotplay{
	font-size: 14px;
	text-align: center;
	margin-top: 25%;
}
/**
 * Videos
 */
#video-preview .load-video img{
	height: 100%;
	padding: 21em;
}
#video-preview .load-videos img{
	height: 100%;
	padding: 6vw;
}
/**
 * tabla de las alertas
 */
 .top{
 	/*background-color: red;*/
 	width: 99%;
 }
 .bottom {
 	/*background-color: red;*/
 	width: 99%;
 	    padding-top: 4%;
 	    padding-left: 4%;
 }
#tabla-alertas{
	color:white;
	text-align: center;
}
#tabla-alertas .icon-display{
	color: white;
}
#tabla-alertas .icon-red{
	color: red;
}
#tabla-alertas .icon-yellow{
	color: yellow;
}
#tabla-alertas .icon-green{
	color: green;
}
#tabla-alertas .icon-display span{
	font-size: 130%;
}
#tabla-alertas th{
	border: 1px solid #6d6d6d;
	background-color: #333;
	color: #f08a1e;
	font-weight: bold;
}
#tabla-alertas td{
	border: 1px solid #6d6d6d;
}
#tabla-alertas td >img{
	width:50px;
	height: 60px;
}
#tabla-alertas .odd{
	background-color: transparent;
}
#tabla-Paginado .odd{
	background-color: red;
}
#tabla-alertas .odd.selected{
	background-color: #0000009e;
}
#tabla-alertas .odd .sorting_1{
	background-color: transparent;
}
#tabla-alertas .even{
	background-color: #333;
}
#tabla-alertas .even.selected{
	background-color: #0000009e;
}
#tabla-alertas .even .sorting_1{
	background-color: #333;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: white;
}
.dataTables_scroll > .dataTables_scrollHead > .dataTables_scrollHeadInner th{
	border: 1px solid #6d6d6d;
	background-color: #333;
	color: #f08a1e;
	font-weight: bold;
}
table.dataTable tbody tr {
   /* background-color: transparent;*/
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: blue;
}
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #6f6f6f;
}
table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected{
	background-color: #0000009e;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected{
	background-color: #0000009e;
}
	/* Botonera tabla */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%, red));
}
.dataTables_wrapper .dataTables_paginate ul>li>a{
	color: #fff;
	text-decoration: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    /*cursor: default;
    color: #666 !important;
    border: 1px solid #979797;
    background: transparent;
    box-shadow: none;*/
    cursor: default;
    color: #666 !important;
    /* border: 1px solid #979797; */
    background: #929799;
    box-shadow: none;
    /*border-radius: 17px;
    padding-top: 1px;
    height: 23px;*/
    font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
    border: 1px solid #979797;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #919191), color-stop(100%, #919191));
}
.previous {
	background: #929799;

}
.next{
	background: #929799;
}
button, input, optgroup, select, textarea {
    color: black;
}
button,
input,
optgroup,
select,
textarea {
    color: black;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


/**
 * Diseño Responsivo.
 *
 */
@media screen and (max-width: 1550px)  {
	.column1 {
		width: 10%;
		flex: 20%;
	}
	.column2 {
		flex: 80%;
	}
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row2 {
  		flex-direction: column;
    }
}
/* (xs) Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.fechaoculta{
		display:none;
	}
	.botonoculto{
		display: none;
	}
	.fechamuestra{
		display:show;
		width: 250px;
	}
	.btnfecha{
		height: 10%;
	}
	div.titulo{
		text-align: center;
	}
	.lscamaras{
		height: auto;
	}
	.menus {
	    margin-bottom: 1em;
	}
	#mapa-calor #imgesc{
		margin-top: 1%;
		height: 20%;
	}
	#mapa-calor #imgcalor{
		height: 25%;
	}
	#video-preview .load-videos img{
		padding: 20vw;
	}
}
/* (sm) Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.lscamaras{
		height: auto;
	}
	.fechaoculta{
		display:none;
	}
	.botonoculto{
		display: none;
	}
	.fechamuestra{
		width: 200px;
	}
}

/* (md) Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.btnfecha{
		height: 10%;
	}
	#visor-video .loading, #mapa-calor .loading {
	    padding: 10.9em;
	}
	#video-preview .load-videos img{
		padding: 5em;
	}
	.fechaoculta{
		display:none;
	}
	.botonoculto{
		display: none;
	}
	.fechamuestra{
		width: 90px;
	}
}

/* (lg) Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1239.98px) {
	#playlist-records{
		height: 60%;
	}
	#collapseExample{
		overflow-x: overlay;
    	height: 55%;
	}
	#visor-video .loading, #mapa-calor .loading {
	    padding: 6.9em;
	}
	#video-preview .load-videos img{
		padding: 4em;
	}
	.fechaoculta{
		display:none;
	}
	.botonoculto{
		display: none;
	}
	.fechamuestra{
		width: 90px;
	}
}
@media (min-width: 1240px) and (max-width: 1368px) {
	#playlist-records{
		height: 65%;
	}
	#collapseExample{
		overflow-x: overlay;
    	height: 50%;
	}
	.fechaoculta{
		padding-left:  0%;
	}
	.fechamuestra{
		display:none;
	}
}
@media (min-width: 1369px) and (max-width: 1920.98px) {
	#visor-video .loading, #mapa-calor .loading {
	    padding: 6.9em;
	}
	#video-preview .load-videos img{
		padding: 4em;
	}
	.fechaoculta{
		padding-left:  15%;
	}

	.botonoculto{
		display: block;
	}
	.fechamuestra{
		display:none;
	}
}

/* (xl) Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1921px) {
	.fechaoculta{
		padding-left: 25%;
	}
	.botonoculto{
		padding-left: 25%;
		padding-right: 20%;
	}
	.fechamuestra{
		color: #f5f5f5;
	}
}
