@font-face{
	font-family: 'Icons';
	src: url('../fonts/icons-global/Myfont-Regular.ttf') format('truetype'),
	url('../fonts/icons-global/Myfont-Regular.otf') format('opentype'), 
	url('../fonts/icons-global/IconsFont-svg.svg') format('svg');
}
.glbl {
	position: relative;
	display: inline-block;
	speak:none;
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #75787b;
	color: #fff;
	font-size: 22px;
    border: 6px solid #75787b;
    margin-top: 13px;
    margin-left: 5px;
}
.glbl:hover {
    background-color: #061d32;
    border: 6px solid #061d32;
}
.nav-tabs .botoneramenu .nav-item.active .glbl{
    background-color: #283139;
    color: #fff;
	font-size: 22px;
    border: 6px solid #283139;
    margin-top: 13px;
}
.glbl-home:before{
	content: 'A';
}
.glbl-search:before{
	content: 'B';
}
.glbl-more:before{
	content: 'C';
}
.glbl-new:before{
	content: 'D';
}
.glbl-up:before{
	content: 'E';
}
.glbl-down:before{
	content: 'F';
}
.glbl-left:before{
	content: 'G';
}
.glbl-right:before{
	content: 'H';
}
.glbl-close:before{
	content: 'I';
}
.glbl-menu:before{
	content: 'J';
}
.glbl-mosaico:before{
	content: 'K';
}
.glbl-ubicacion:before{
	content: 'L';
}
.glbl-notificacion:before{
	content: 'M';
}
.glbl-video:before{
	content: 'N';
}
.glbl-graficaBarras:before{
	content: 'O';
}
.glbl-graficaLineas:before{
	content: 'P';
}
.glbl-llamada:before{
	content: 'Q';
}
.glbl-send:before{
	content: 'R';
}
.glbl-chat:before{
	content: 'S';
}
.glbl-novideo:before{
	content: 'T';
}
.glbl-noaudio:before{
	content: 'U';
}
.glbl-mapacalor:before{
	content: 'V';
}
.glbl-controles:before{
content: 'W';
}
.glbl-descarga:before{
	content: 'X';
}
.glbl-subir:before{
	content: 'Y';
}
.glbl-images:before{
	content: 'Z';
}
.glbl-documento:before{
	content: 'a';
}
.glbl-chatcorp:before{
	content: 'b';
}
.glbl-chatpyme:before{
	content: 'c';
}
.glbl-enviar:before{
	content: 'd';
}
.glbl-familia:before{
	content: 'e';
}
.glbl-hogarseguro:before{
	content: 'f';
}
.glbl-razonamiento:before{
	content: 'g';
}
